/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        fn_layer {
            if-layers = <1 2>; // NAV (1) and SYM (2) 
            then-layer = <3>;  // Activates FN (3)
        };
    };
};

/ {
    macros {
        tab_left: c_s_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp TAB>
                , <&macro_release &kp LCTRL &kp LSHFT>
                ;
        };
        tab_right: c_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp TAB>
                , <&macro_release &kp LCTRL>
                ;
        };
        swap_window: g_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp TAB>
                , <&macro_release &kp LGUI>
                ;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        
        combo_tab {
            timeout-ms = <50>;
            key-positions = <2 3>; // The positions of W and E on a 46-key Corne
            bindings = <&kp TAB>;
            layers = <0>;           // 0 is the index of your BASE layer
        };
        combo_grave {
            timeout-ms = <50>;
            key-positions = <15 16>; // The positions of Q and W on a 46-key Corne
            bindings = <&kp GRAVE>;
            layers = <0>;           // 0 is the index of your BASE layer
        };
        combo_esc {
            timeout-ms = <50>;
            key-positions = <16 17>; // The positions of S and D on a 46-key Corne
            bindings = <&kp ESC>;
            layers = <0>;           // 0 is the index of your BASE layer
        };
        combo_del {
            timeout-ms = <50>;
            key-positions = <10 11>; // The positions of I and O on a 46-key Corne
            bindings = <&kp DEL>;
            layers = <0>;           // 0 is the index of your BASE layer
        };
        combo_bcsp {
            timeout-ms = <50>;
            key-positions = <24 25>; // The positions of K and L on a 46-key Corne
            bindings = <&kp BSPC>;
            layers = <0>;           // 0 is the index of your BASE layer
        };
        combo_sqt {
            timeout-ms = <50>;
            key-positions = <25 26>; // The positions of L and ; on a 46-key Corne
            bindings = <&kp SQT>;
            layers = <0>;           // 0 is the index of your BASE layer
        };
        combo_ret {
            timeout-ms = <50>;
            key-positions = <36 37>; // The positions of K and L on a 46-key Corne
            bindings = <&kp RET>;
            layers = <0>;           // 0 is the index of your BASE layer
        };
        combo_lalt {
            timeout-ms = <50>;
            key-positions = <15 29>; // The positions of A and Z on a 46-key Corne
            bindings = <&kp LALT>;
            layers = <0>;           // 0 is the index of your BASE layer
        };
        combo_lctrl {
            timeout-ms = <50>;
            key-positions = <16 30>; // The positions of S and X on a 46-key Corne
            bindings = <&kp LCTRL>;
            layers = <0>;           // 0 is the index of the BASE layer
        };
        combo_lgui {
            timeout-ms = <50>;
            key-positions = <17 31>; // The positions of D and C on a 46-key Corne
            bindings = <&kp LGUI>;
            layers = <0>;           // 0 is the index of the BASE layer
        };
        combo_lshft {
            timeout-ms = <50>;
            key-positions = <18 32>; // The positions of F and V on a 46-key Corne
            bindings = <&kp LSHFT>;
            layers = <0>;           // 0 is the index of the BASE layer
        };
        combo_ralt {
            timeout-ms = <50>;
            key-positions = <23 35>; // The positions of J and M on a 46-key Corne
            bindings = <&kp RSHFT>;
            layers = <0>;           // 0 is the index of the BASE layer
        };
        combo_rctrl {
            timeout-ms = <50>;
            key-positions = <24 36>; // The positions of K and , on a 46-key Corne
            bindings = <&kp RGUI>;
            layers = <0>;           // 0 is the index of the BASE layer
        };
        combo_rgui {
            timeout-ms = <50>;
            key-positions = <25 37>; // The positions of L and . on a 46-key Corne
            bindings = <&kp RCTRL>;
            layers = <0>;           // 0 is the index of the BASE layer
        };
        combo_rshft {
            timeout-ms = <50>;
            key-positions = <26 38>; // The positions of ; and / on a 46-key Corne
            bindings = <&kp RALT>;
            layers = <0>;           // 0 is the index of the BASE layer
        };

    };
};

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BASE";
            // ---------------------------------------------------------------------------------------------------------
            // |      |  Q  |  W  |  E   |  R      |  T        |   |   |  Y       |  U        |  I   |  O  |  P  |     |
            // |      |  A  |  S  |  D   |  F      |  G        |   |   |  H       |  J        |  K   |  L  |  ;  |     |
            // |      |  Z  |  X  |  C   |  V      |  B        |       |  N       |  M        |  ,   |  .  |  /  |     |
            //                    |      | NAV/TAB | SHFT/BSPC |       | GUI/SPC  | SYM/RET   |      |
            bindings = <
                &trans &kp Q   &kp W  &kp E   &kp R      &kp T           &trans &trans  &kp Y           &kp U         &kp I     &kp O   &kp P      &trans
                &trans &kp A   &kp S  &kp D   &kp F      &kp G           &trans &trans  &kp H           &kp J         &kp K     &kp L   &kp SEMI   &trans
                &trans &kp Z   &kp X  &kp C   &kp V      &kp B                          &kp N           &kp M         &kp COMMA &kp DOT &kp FSLH   &trans
                                      &trans  &lt 1 TAB  &mt LSHFT SPACE                &mt LGUI BSPC   &lt 2 RET     &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        lower_layer {
            display-name = "NAV";
            // -----------------------------------------------------------------------------------------------------------
            // |      | TAB  |      |     |      | VOL_UP |   |   | PG_UP    |  HOME     |  UP       | END | DEL  |      |
            // |      | ALT  | CTRL | GUI | SHFT | VOL_DN |   |   | PG_DN    |  LFT      |  DWN      | RGT | BSPC |      |
            // |      | ESC  |      |     |      | MUTE   |       | SWAP_WIN |  TAB_LEFT | TAB_RIGHT |     | RET  |      |
            //                      |     |      |        |       | GUI/SPC  |  RET      |           |
            bindings = <
                &trans &kp TAB   &trans      &trans      &trans     &kp C_VOL_UP  &trans &trans  &kp PG_UP     &kp HOME   &kp UP     &kp END    &kp DEL   &trans
                &trans &sk LALT  &sk LCTRL   &sk LGUI    &sk LSHFT  &kp C_VOL_DN  &trans &trans  &kp PG_DN     &kp LEFT   &kp DOWN   &kp RIGHT  &kp BSPC  &trans
                &trans &kp ESC   &trans      &trans      &trans     &kp C_MUTE                   &swap_window  &tab_left  &tab_right &trans     &kp RET   &trans
                                             &trans      &trans     &trans                       &mt LGUI BSPC &kp RET    &trans
            >;
        };

        raise_layer {
            display-name = "SYM";
            // --------------------------------------------------------------------------------------------
            // |      |  !  |  @  |  #   |  $      |  %        |   |   |  ^   |  &  |  *   |  (  |  )  |  |
            // |      |  1  |  2  |  3   |  4      |  5        |   |   |  _   |  +  |  "|" |  [  |  ]  |  |
            // |      |  6  |  7  |  8   |  9      |  0        |       |  -   |  =  |  \   |  {  |  }  |  |
            //                    |      |  TAB    | SHFT/BSPC |       |      |     |      |
            bindings = <
                &trans &kp EXCL &kp AT   &kp HASH &kp DLLR &kp PRCNT       &trans &trans &kp CARET  &kp AMPS   &kp ASTRK     &kp LPAR &kp RPAR &trans
                &trans &kp N1   &kp N2   &kp N3   &kp N4   &kp N5          &trans &trans &kp UNDER  &kp PLUS   &kp PIPE      &kp LBKT &kp RBKT &trans
                &trans &kp N6   &kp N7   &kp N8   &kp N9   &kp N0                        &kp MINUS  &kp EQUAL  &kp BSLH      &kp LBRC &kp RBRC &trans
                                         &trans   &kp TAB  &mt LSHFT SPACE               &trans     &trans     &trans
            >;
        };

        fn_layer {
            display-name = "FN";
            // ----------------------------------------------------------------------------------
            // |      | F1   | F2  | F3  | F4   | F5     |   |   | F6  | F7 | F8 | F9 | F10 |   |
            // |      | F11  | F12 | BT1 | BT2  | Unlock |   |   |     |    |    |    |     |   |
            // |      |      |     | RST | BOOT | BTCR   |       |     |    |    |    |     |   |
            //                     |     |      |        |       |     |    |    |
            bindings = <
                &trans &kp F1  &kp F2  &kp F3       &kp F4       &kp F5          &trans &trans   &kp F6 &kp F7  &kp F8  &kp F9  &kp F10 &trans
                &trans &kp F11 &kp F12 &bt BT_SEL 1 &bt BT_SEL 2 &studio_unlock  &trans &trans   &trans &trans  &trans  &trans  &trans  &trans
                &trans &trans  &trans  &sys_reset   &bootloader  &bt BT_CLR                      &trans &trans  &trans  &trans  &trans  &trans 
                                       &trans       &trans       &trans                          &trans &trans  &trans
            >;
        };
    };
};

